<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_login</servlet-name>
        <servlet-class>Admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewLaunches</servlet-name>
        <servlet-class>addNewLaunches</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomerCare</servlet-name>
        <servlet-class>addCustomerCare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewOffers</servlet-name>
        <servlet-class>addNewOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSignUp</servlet-name>
        <servlet-class>userSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSignup</servlet-name>
        <servlet-class>adminSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_category</servlet-name>
        <servlet-class>view_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_products</servlet-name>
        <servlet-class>view_products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_password</servlet-name>
        <servlet-class>forgot_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_forgot_pass</servlet-name>
        <servlet-class>user_forgot_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardpay</servlet-name>
        <servlet-class>cardpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upipay</servlet-name>
        <servlet-class>upipay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_product</servlet-name>
        <servlet-class>Add_product</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_login</servlet-name>
        <url-pattern>/Admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewLaunches</servlet-name>
        <url-pattern>/addNewLaunches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomerCare</servlet-name>
        <url-pattern>/addCustomerCare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewOffers</servlet-name>
        <url-pattern>/addNewOffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSignUp</servlet-name>
        <url-pattern>/userSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSignup</servlet-name>
        <url-pattern>/adminSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_category</servlet-name>
        <url-pattern>/view_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_products</servlet-name>
        <url-pattern>/view_products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_password</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_forgot_pass</servlet-name>
        <url-pattern>/admin_forgot_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardpay</servlet-name>
        <url-pattern>/cardpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upipay</servlet-name>
        <url-pattern>/upipay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_product</servlet-name>
        <url-pattern>/Add_product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
